body{background-color: rgb(4, 0, 245); color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
h1{color: rgb(94, 173, 93);font-style:inherit; text-align: center;}
h2{color: rgb(245, 12, 12);font-style: oblique;text-align: center;}
ul{list-style-position:inside;text-align: center;}
p{text-align: center;}
img{width: 200px;border-radius: 20%;display: block;margin:auto ;}
li{color: rgb(255, 3, 230);}
img{border: 4px solid;color: chartreuse ;}
